In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
levelstress_data = pd.read_csv('Stress-Lysis.csv')

In [5]:
levelstress_data.head()

   Humidity  Temperature  Step count  Stress Level
0     21.33        90.33         123             1
1     21.41        90.41          93             1
2     27.12        96.12         196             2
3     27.64        96.64         177             2
4     10.87        79.87          87             0

In [6]:
levelstress_data.isnull()

      Humidity  Temperature  Step count  Stress Level
0        False        False       False         False
1        False        False       False         False
2        False        False       False         False
3        False        False       False         False
4        False        False       False         False
...        ...          ...         ...           ...
1996     False        False       False         False
1997     False        False       False         False
1998     False        False       False         False
1999     False        False       False         False
2000     False        False       False         False

[2001 rows x 4 columns]

In [7]:
levelstress_data.shape

(2001, 4)

In [8]:
levelstress_data['Stress Level'].value_counts()

1    790
2    710
0    501
Name: Stress Level, dtype: int64

In [9]:
X = levelstress_data.drop (columns='Stress Level',axis=1)
Y = levelstress_data['Stress Level']

In [10]:
print(X)

      Humidity  Temperature  Step count
0        21.33        90.33         123
1        21.41        90.41          93
2        27.12        96.12         196
3        27.64        96.64         177
4        10.87        79.87          87
...        ...          ...         ...
1996     21.82        90.82          96
1997     10.45        79.45          45
1998     27.22        96.22         135
1999     12.46        81.46          64
2000     16.87        85.87          50

[2001 rows x 3 columns]

In [11]:
print(Y)

0       1
1       1
2       2
3       2
4       0
       ..
1996    1
1997    0
1998    2
1999    0
2000    1
Name: Stress Level, Length: 2001, dtype: int64

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [13]:
print(X.shape, X_train.shape, X_test.shape)

(2001, 3) (1600, 3) (401, 3)

In [14]:
classifier = svm.SVC(kernel='linear')

In [15]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [16]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [17]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 1.0

In [18]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [19]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 1.0

In [24]:
input_data = (10.87, 79.87,	87)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Stress Tingkat Rendah')
elif (prediction[0]==1):
    print('Stress Tingkat Sedang')
else:
    print('Stress Tingkat Tinggi')

[0]
Stress Tingkat Rendah

c:\Users\Renz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [21]:
import pickle

In [23]:
import pickle
filename = 'level_stress.sav'
pickle.dump(classifier, open(filename,'wb'))